* {
    margin: 0;
    padding: 0;
    list-style: none;
    border: 0;
    font-style: normal;
    outline: none;
    text-decoration: none;
    color: #000;
}
.oh {
    overflow: hidden;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.tac {
    text-align: center;
}
.pr {
    position: relative;
}
.pa {
    position: absolute;
}
.db {
    display: block;
}
.dib {
    display: inline-block;
}
.dn {
    display: none;
}
