.dn {
    display: none;
}
.pic {
    height: 486px;
    overflow-x: scroll;
}
.pic span {
    margin-top: 110px;
    width: 1158px;
}
.box {
    background: rgba(0,0,0,0.6) no-repeat center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
.box ul {
    height: 682px;
    margin-top: 130px;
    margin-bottom: 52px;
}
.box ul li {
    width: 430px;
    height: 682px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 10px 65px 13px rgba(255,2,97,0.4);
    text-align: right;
    color: rgb(0, 0, 0);
    transform:scale(0.9);
    margin: 0 20px;
}
.box ul li.scale1 {
    transform:scale(1);
}
.box ul li div {
    width: 310px;
    height: 550px;
    border: 1px solid #ebebeb;
    margin: auto;
    margin-top: 36px;
    padding: 30px;
}
.box ul li img {
    margin-top: 30px;
}
.box ul li .name {
    font-size: 24px;
    line-height: 128px;
    margin-top: 41px;
}
.box ul li span {
    width: 24px;
    height: 2px;
    background: #7f7f7f;
}
.box ul li .ename {
    clear: both;
    line-height: 38px;
    font-size: 16px;
}
.box .dot {
    margin: auto;
}
.box .dot span {
    width: 14px;
    height: 14px;
    margin: 0 12px;
    border: 2px solid #fff;
    border-radius: 50%;
}
.box .dot span.choose {
    background: #fff;
}
.box h4 {
    color: rgb(255, 255, 255);
    font-size: 60px;
    margin-top: 24px;
    line-height: 60px;
    font-weight: normal;
}
.box .close {
    width: 49px;
    height: 49px;
    border: 2px solid #fff;
    border-radius: 50%;
    color: rgb(255, 255, 255);
    line-height: 40px;
    font-size: 50px;
    margin: auto;
    margin-top: 30px;
}
