* {
    padding: 0;
    margin: 0;
    font-style: normal;
}
body {
    font-size: 1rem;
    background-size: 100%;
    line-height: 2rem;
}
a {
    text-decoration: none;
    outline: none;
    cursor: pointer;
}
.df {
    display:box;
    display:-moz-box;
    display:flex;
    display:-webkit-flex;
    display:-ms-flexbox;
}
#gamebox a {
    box-sizing: border-box;
    border: 1px solid #eee;
}
#gamebox .positive {
    background-color: #f00;    
}
