* {
    margin: 0;
    padding: 0;
}
.db {
    display: block;
}
.tac {
    text-align: center;
}
#touch_test {
    width: 10.96rem;
    height: 1.46rem;
    border: .02rem solid #e5e5e5;
    border-radius: .73rem;
    position: relative;
    margin-top: 1.36rem;
    background: #f2f2f2;
    overflow: hidden;
}
#touch_test .line {
    height: 1.46rem;
    position: absolute;
    top: -.02rem;
    left: -.02rem;
    background: green;
    width: 0;
    border-radius: .73rem;
}
#touch_test .touchicon {
    position: absolute;
    left: -.02rem;
    top: -.02rem;
    width: 1.46rem;
    height: 1.46rem;
    border-radius: 50%;
    border: .02rem solid #e5e5e5;
    background: #fff no-repeat center;
    background-size: .25rem .44rem;
    z-index: 10;
}
#touch_test p {
    width: 10.96rem;
    height: 1.46rem;
    position: absolute;
    top: -.02rem;
    left: -.02rem;
    font-size: .48rem;
    color: rgb(148, 148, 148);
    line-height: 1.42rem;
}

